/* ### New Multitouch Microsite ### */

html, body {
	background-color: #F3857E;
	color:#fff;
	height: 100%;
	margin:0;
	padding:0; 
	position:relative;
	width: 100%;
	/*overflow: hidden;*/
}

#downloadicon, #ideumicon, #socialicon, #tableicon {
	display:inline-block;
}
#ideumicon { /* fix the offset of the image - alternatively we could trim the original image file */
  position:relative;
  left:-18px;
}
#downloadicon img, #socialicon img, #tableicon img { /* standardize the size of the icons in header */
	margin:0 ;
	width:46px;
}
#downloadicon:hover img, #ideumicon:hover img, #socialicon:hover img, #tableicon:hover img { /* add hover state  */
	opacity:0.5;
}

/* default values for arrow display */
#dig_deeper, #down_arrow, #up_arrow {
	height:59px;
	visibility:hidden;
}

#dig_deeper.on, #down_arrow.on, #up_arrow.on {
	visibility:visible;
}

#up_arrow:hover, #down_arrow:hover {
	cursor:pointer;
	opacity:0.5;
}

#dig_deeper p {
	position: relative;
  	right: -1em;
}

#skip_animation {
	position: fixed;
	top: 10%;
	text-align: center;
	color: white;
	z-index:3;
	cursor: pointer;
	width: 100%;
}

#svg {
	background-color:rgb(243,112,104);
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	z-index:2;
}

#Layer_1 {
	fill:white;
}

video {
	background-image:url("../images/background.png");
	height:auto;
	min-height:100%;
	min-width:100%;
	position:fixed;
		top: 0; right: 0; bottom: 0; left: 0;
	width:100%;
	z-index:1;
}

#starting_links {
	padding-top:20px;
	z-index:100;
}

#content-block {
  height:30%;
  margin:auto;
	padding-top:50px;
	position:absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

#content-information {
	height:100%;
	z-index:1;
}

#utility {
	text-align: right;
}

/* ### begin clearfix helper class ### */
.clearfix:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}

.clearfix { 
	display:inline-block; 
}
/* start commented backslash hack for clearfix \*/
* html .clearfix { 
	height:1%; 
}

.clearfix { 
	display:block; 
}
/* close commented backslash hack for clearfix */
/* ### end clearfix helper class ### */

#scrollnav {
	height:183px;
	margin:auto;
	position:fixed;
		top: 0%; right: 0; bottom: 0; /* do not set left value */
	text-align:right;
}

#scrollnav .up-down-arrows {
	float: right;
	max-width: 100px;
}

#scrollnav .up-down-arrows div img {
	max-width:46px;
}

/* begin settup of fixed sections vertical offsets */

#content-display {
  height:100%;
  position:fixed;
  	top:0%;
  width:100%;
}

#starting_links {
	position:fixed;
	width:100%;
}

.text-display {
	position:relative;
		top:30%;
}
/* end settup of fixed sections vertical offsets */


/* ### begin #tablemenu styles ### */
#menu {
  height:100%;
  position:fixed;
	z-index:999;
}
#tablemenu { /* aka tablemenu */
	background-color:transparent;
	color:#fff;
	position:fixed;
		top:33%;
	transition: all 0.25s ease;
}
#tablemenu ul {
	list-style:none;
}
/* defualt values for viewability of sub-navigation */
#tablemenu ul li ul  {
	display:none;
}
#tablemenu ul li a {
	color:#fff;
	display:block;
	line-height: 1.5vmax;
	text-transform:uppercase;
}
#tablemenu ul li.on {
	text-decoration:underline;
}
#tablemenu ul li#section1navitem.on {
	text-decoration:none;
}
#tablemenu ul li.on ul {
	border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
	display:block;
	padding:1.5vmin 0;
}
#tablemenu ul li.on ul li {
	color:#fff;
	font-weight:normal; /*temp use only*/
  padding: 0;
}
#tablemenu ul {
	margin:0;
}
#tablemenu ul li a.on {
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration:underline;
  font-weight:bold;
  font-weight:900;
}

	/* starting (section1) values for viewability of sub-navigation - show #section1navitemsub-navigation only */
	#tablemenu.section1 ul li#section1navitem ul  {
		display:block !important;
	}
	#tablemenu.section1 ul li#section2navitem ul  {
		display:none;
	}
	#tablemenu.section1 ul li#section3navitem ul  {
		display:none;
	}
	#tablemenu ul li.on ul li:first-child {
		margin: 0 0 .75vmin;
	}
	#tablemenu ul li.on ul li:last-child {


	}
	#tablemenu ul li ul li a.on {
	  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	  font-weight:900;
	}
	#tablemenu ul li ul li a {
	  padding-left:20px;
	}
	#tablemenu ul li ul li:last-child a {

	}
	#tablemenu ul li ul li.on:before {
    content:">";
    float:left;
	}

	#section1navitem.on {
		margin-bottom:0;
	}
	#section1navitem2 {
	  
	}
	#section1navitem3 {
		/* nothing to see here */
	}
	
	/* section2 values for viewability of sub-navigation - show #section2navitem sub-navigation only */
	#tablemenu ul li ul {
    list-style:none;
	}
	.nav ul li {
		font-size:1.4vmin;
		padding: 1vmax 0;
	}
	.nav ul li ul {
    margin-left:0;
    font-size:.95em;
	}
	.nav ul li ul li:first-child a {
    display:block;
    padding:0;
	}
	.nav ul li ul li:last-child  a{
    display:block;
	}
	.nav a {
    text-decoration:none;
	}
	.nav a:hover {
    text-decoration:underline;
	}

	#content-scroller section .text-display {
		left: 4000px;
	}

	#tablemenu.section2 ul li#section1navitem ul  {
		display:none;
	}
	#tablemenu.section2 ul li#section2navitem ul  {
		display:block;
	}
	#tablemenu.section2 ul li#section3navitem ul {
		display:none;
	}

	/* section3 values for viewability of sub-navigation - show #section3navitem sub-navigation only */
	#tablemenu.past-section3 ul li#section1navitem ul  {
		display:none;
	}
	#tablemenu.section3 ul li#section2navitem ul  {
		display:none;
	}
	#tablemenu.section3 ul li#section3navitem ul {
		display:block;
	}
/* ### end menu styles ### */

#section1, #section2, #section3  {
	background-size:cover;
	height:100vh;
	transition:background 0.5s linear;
}
#section1 {
	background-image:url('../images/background.png');
	position:inherit;
}
#section2 {
	background-image:url('../images/background.png');
	position:inherit;
}
#section3 {
	background-image:url('../images/background.png');
	position:inherit;
}

#table {
	background-image:url('../images/table-content/table.png');
	background-position: center;
	background-repeat:no-repeat;
	background-size:contain;
	height:100%;
}
#table #text-block {
  display:block;
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:2.23vh;
  font-weight:lighter;
  font-weight:300;
  margin:0 auto;
  max-width:70%;
	padding:0 13%;
	position: absolute;
    top:18.5%; right:2%; left:2%;
  text-align:center;
}
#latest-in-touch {
	background-image:url('../images/table-content/latest-in-touch.png');
	background-position: center;
	background-repeat:no-repeat;
	background-size:contain;
	height:100%;
  position: relative;
    left: -25%;
	width: 150%;
}
#key-features {
	background-image:url('../images/table-content/key-features.png');
	background-position: center;
	background-repeat:no-repeat;
	background-size:contain;
	height:100%;
}
#latest-in-touch {
	display:none;
}
#key-features {
	display:none;
}
#gallery {
	height:100%;
	display:none;
}
#contact {
	display:none;
	position:relative;
	top: 24%;
}

#contact h1 {
	font-size:3.5vmax;
	word-spacing:.5vmax;
	text-align:center
}
#contact p a {
	color:#fff;
	text-decoration:underline;
}
#contact-table .text-column a{
	color:#fff;
	text-decoration:none;
}
#contact-table .text-column a:hover {
	font-weight:400;
	text-decoration:none;
}
#contact table#contact-table {
	margin:2vmax auto 2em auto;
}
#contact table#contact-table td {
	border-bottom: 0px solid #E1E1E1;
	padding: 6px 15px;
}

#inquiry, #sales {
	cursor: pointer;
}

#gallery .one-fourth {
	float:left;
	height:100%;
	overflow:hidden;
}
.one-fourth a.touchme {
	background-image:url('../images/clickme.png');
  background-position: center;
	background-repeat:no-repeat;
  height:100%;
  visibility:hidden;
	width:100%;
}

#gallery1 {
	background-image:url('../images/gallery/Manufacturing/manu-1.jpg');
	background-size:cover;
	background-position:center;
	width:25%;
}
#gallery2 {
	background-image:url('../images/gallery/DoE/doe-1.jpg');
	background-size:cover;
	background-position:center;
	width:25%;
}
#gallery3{
	background-image:url('../images/gallery/SLAC/slac-1.jpg');
	background-size:cover;
	background-position:center;
	width:25%;
}
#gallery4 {
	background-image:url('../images/gallery/Video/vid.jpg');
	background-size:cover;
	background-position:center;
	width:25%;
}

.one-fourth {
	position:relative;
}
.one-fourth img {
	display:none;
	position:relative;
}

.v-center-container {
  display:table;
  height:100%; 
  position:absolute; 
  width:100%;
}
.v-center-element {
  display: table-cell;
  vertical-align: middle;
  text-align:center;
}


/*	##########################################	*/

/*	MOBILE SITE 																*/

/*	##########################################	*/

#mobile {
  background-color: #F3857E;
  background-image:url('../images/background.png');
  background-position-x: 16%;
  background-repeat:no-repeat;
  height:auto;
}

#navigation-toggle {
	height:30px;
	background-color: #000;
}

header::after {
  content: '';
  display: inline-block;
}
header div h2 {
  display:inline-block;
  margin-bottom:0;
  vertical-align: middle;
}
header > div {
  display:inline-block;
  height: 100%;
}
header > div::before {
  content: '';
  display: inline-block;  
  vertical-align: middle;
  height: 100%;
}


/*--------------------------------
      Mobile-Specific Styles
---------------------------------*/

#mobile {
	margin:3% auto;
	max-width:550px;
	width:94%
}

#mobile .navigation-toggle a#ideumicon-mobile img {
	float:right;
	max-height:40px;
}

#mobile #mobile-table-intro .mobile-title {
	font-family:'Roboto', san-serif;
	font-size:14px;
	font-weight:400;
	padding:5% 0 0 5%;
}

#mobile-table-intro img {
	height:auto;
	width:100%;
}

#mobile-table-description {
	background-color:#303030;
	color:#F3857E;
	font-family:'Roboto', san-serif;
	font-size:17px;
	font-weight:300;
	padding:15%;
	text-align:center;
	letter-spacing:+1px;
}

#mobile-table-latest-in-touch {
	background-color:#F3857E;
	color:#fff;
}

#mobile .section-header {
	background-color:#fff;
	color:#F3857E;
	height:100px;
	padding:0%;
	text-align:center;
	text-transform:uppercase;
	width:100%;
}

#mobile .section-header div h2 {
	font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:25px;
	font-weight:900;
	line-height:1.2em;
}

#mobile .item-group-wrap {
	padding:1em 0;
}
#mobile .item-group-wrap .item-group {
	border-bottom:3px solid #ebb7b4;
	margin:20px auto;
	padding:.5em 0;
	text-align:center;
	width:74%;
}
#mobile .item-group-wrap .item-group:last-of-type { 
	border-bottom:0px;
}
#mobile .item-group-wrap .item-group h3 {
	font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
}
#mobile .item-group-wrap .item-group .item-element {
	font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	font-weight:300;
	line-height:1.25em;
	margin-bottom:1.25em;
}
#mobile .item-group-wrap .item-group:last-child .item-element:last-of-type{
	margin-bottom:0;
}

#mobile #mobile-gallery {
	background-color:#303030;
	font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	font-weight:300;
	text-transform:uppercase;
}
#mobile #mobile-gallery .gallery-item-group {
	padding:1em;
}
#mobile #mobile-gallery .gallery-item-group a {
	border-bottom:1px solid #423d3d;
	color:#ffffff;
	display:block;
	line-height:1.5em;
	padding:5%;
	text-decoration:none;
	width:90%;
}
#mobile #mobile-gallery .gallery-item-group a.hide {
	display:none;
}
#mobile #mobile-gallery .gallery-item-group a:hover, #mobile #mobile-gallery #mobile-gallery .gallery-item-group a:active {
	color:#F3857E;
}
#mobile #mobile-gallery .gallery-item-group a:last-of-type  {
	border:none;
}

#mobile #mobile-contact {
	background-color:#F3857E;
	color:#fff;
}
#mobile #mobile-contact table {
	margin:10%  6%;
}
#mobile #mobile-contact table tr {
	padding:0 5%;
}
#mobile #mobile-contact table tr td {
	border:none;
	font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:18px;
	font-weight:300;
	padding: 8px 15px;
}
#mobile #mobile-contact table tr td.text-column {
	padding: 8px 0;
}
#mobile #mobile-contact table tr td.icon-column img {
	width:60px;
}
#mobile #mobile-contact p {
	font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14.4px;
	font-weight:300;
	margin:0 auto;
	padding:0 0 50px 0;
	text-align:center;
	width:76%;
}

#mobile #mobile-contact p a {
	color: #fff;
}

#mobile #mobile-contact p a:hover {
	font-weight: 400;
}

#mobile	.navigation-toggle {
	height:62px;
	padding:1em;
}
#mobile	.navigation-toggle a#ideumicon-mobile img {
	float:left;
	width:80px;
}
#mobile	.navigation-toggle span {
	float:right;
	position:relative;
		top:6px;
}
#mobile	.navigation-toggle span:hover {
	cursor:pointer;
}
#mobile #utility {
	float:right;
	margin:8px 10px 0 0;
}
#mobile #utility #socialicon img, #mobile #utility #tableicon img {
  height: auto;
  margin: 0;
  width: 20px;
}
#mobile #utility #downloadicon img {
  height: auto;
  margin: 0;
  width:22px;
  position:relative;
		top:1px;
}
#mobile #utility #tableicon img {
	margin-right:10px;
	position:relative;
		top:1px;
}

#mobile #tablemenu-mobile  {
	background-color:#303030;
	margin-top:-16px;
}
#mobile #tablemenu-mobile ul li {
	list-style:none;
	list-style-image:none;
}
#mobile #tablemenu-mobile ul li ul {
	margin:0;
}
#mobile #tablemenu-mobile ul li ul li a {
	padding-left:15%;
	width: 80%;
}
#mobile #tablemenu-mobile ul li a {
	border-bottom:1px solid #423d3d;
	color:#ffffff;
	display:block;
	font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14.4px;
	font-weight:300;
	line-height:1.5em;
	padding:5%;
	text-decoration:none;
	text-transform:uppercase;
	width:90%;
}
#mobile #tablemenu-mobile ul li a:hover, #mobile #tablemenu-mobile ul li a:active {
	color:#F3857E;
}

#mobile #footer {
	background-color:#303030;
	font-family: "Robot0", sans-serif;
	font-size:12px;
	font-weight:700;
	letter-spacing:+2px;
	padding:30px;
	text-align:center;
	text-transform:uppercase;
}

#mobile #footer a.ideum-link {
	font-weight:400;
	text-transform:none;
}

#mobile #footer a, #mobile #footer span {
	color:#ffffff;
	display:block;
	line-height:3em;
	text-decoration:none;
	width:100%;
}

#mobile #footer a:hover, #mobile #footer a:active {
	color:#F3857E;
}

